@import "../../assets/styles/extends";

.Counter {
  @extend %display;
  width: 26%;
  min-width: 7.5rem;
  justify-content: start;

  @media (max-width: 768px) {
    flex-basis: calc(100% - 9.94rem);
    order: 3;
  }

  &__button {
    display: inline-block;
    padding: 0.375rem 0.81rem;
    border: $border;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: $primary-color;
    cursor: pointer;

    &:hover {
      color: $white;
      background: $primary-color;
      transition: $transition;
    }

    &:active {
      background: $btn-hover-color;
      transition: $transition;
    }
  }

  &__input {
    display: inline-block;
    width: 100%;
    border: none;
    border-bottom: $border;
    border-top: $border;
    border-radius: 0;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;

    &:focus-visible {
      outline: none;
    }

    @media (max-width: 768px) {
      width: 3.75rem;
    }
  }
}
