@import "../../assets/styles/extends";

.Catalog {
  @extend %display;
  flex-wrap: wrap;
  justify-content: center;
  gap: $rem;

  &__item {
    display: flex;
    width: 100%;
    min-width: 12.5rem;
    max-width: calc(100% / 6 - 1rem);
    aspect-ratio: 0.81;
    text-decoration: none;
    list-style: none;

    @media (max-width: 768px) {
      min-width: 9.7rem;
      max-width: calc(100% / 2 - 1rem);
      aspect-ratio: 0.57;
    }
  }
}