@import "../../assets/styles/extends";

.Product {
  @extend %display;
  justify-content: flex-start;
  gap: $rem;

  @media (max-width: 768px) {
    margin: 0 -1.5rem;
    flex-direction: column;
    justify-content: center;
  }
}