@import "../../styles/extends";

.ProductInfo {
  @media (max-width: 768px){
    padding: 16px 24px;
  }

  &__title {
    margin-bottom: $rem;
    font-family: $bold;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  &__description {
    min-width: 25.9rem;
    margin-bottom: 0.58em;
    font-size: 0.875rem;
    line-height: $rem;

    @media (max-width: 768px) {
      min-width: auto;
    }
  }

  &__cartInfo {
    @extend %display;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: normal;
      gap: 1rem;
    }
  }

  &__price {
    font-size: 2.25rem;
    line-height: 2.625rem;
    color: $primary-color;

    @media (max-width: 768px) {
      flex-basis: calc(100% - 2.25rem);
      order: 1;
    }
  }

  &__like {
    order: 2;
  }
}