@import "variables";

%title {
  font-family: 'Roboto Bold', sans-serif;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

%text {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: $text-color;
}

%display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

