$primary-color: #E97F03;
$white: #FFFFFF;
$text-color: #000000;
$link-active-color: #E97F0380;
$btn-hover-color: #E99330;
$svg-color: #323232;
$regular: 'Roboto Regular', sans-serif;
$bold: 'Roboto Bold', sans-serif;
$border: 1px solid #323232;
$transition: all ease 0.2s;
$rem: 1rem;
